{% block content %}
<div class="hp-m-top hp-bold hp-head-font hp-bigger">Latest News </div>
	{% for post in posts %}

		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	
{% endblock %}