<p>boxes twig</p>

{{ post.box_text }}
{{ post.box_title }}
{% set boxes = post.meta('fields') %} 
  {% for box in boxes %}
    <p><strong>Title:</strong> {{ box.box_title }}</p>
    <p><strong>Text:</strong> {{ box.box_text }}</p>
  {% endfor %}



